<!DOCTYPE HTML>
<html lang="en">
  <head>
    <title>WL Solutions LLC</title>
    <link rel="stylesheet" type="text/css" href="css/myapp.css">
    <link rel="stylesheet" type="text/css" href="css/wls.css">
  </head>
  <body>
    <div id="wls-header">
        <h1>Portfolio</h1>
        <a href="#">Companies</a> | <a href="#add">Add Company</a>
    </div>
    <br/>
    <!--
    <div id="content">
    -->
    <div id="companies_container">
      {{{body}}}
    </div>

    <script type="text/javascript" src="js/myapp.js"></script>
  </body>
</html>
