<!DOCTYPE HTML>
<html lang="en">
  <head>
    <title>WL Solutions LLC</title>
    <link rel="stylesheet" type="text/css" href="css/myapp.css">
    <link rel="stylesheet" type="text/css" href="css/wls.css">
  </head>
  <body>
    <div id="wls-header">
        <h1>Portfolio</h1>
        <p><br><a href="https://github.com/woodylewis/wls-mebn" target="_blank">GitHub Repo</a>
        <p><br>
        <a href="#">Companies</a> | <a href="#add">Add Company</a>
        <p><br>
    </div>
    <br/>
    <div id="companies_container">
      {{{body}}}
    </div>

    <script type="text/javascript" src="js/myapp.js"></script>
    <script type="text/javascript" src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
  </body>
</html>
