#wls-header, 
#wls-container {
	margin: 0 auto;
	text-align: center;
}

#wls-header a:link,
            a:visited,
            a:hover,
            a:active {
  color:#1F75FE;
}

#companies_container {
	margin: 0 auto;
	text-align: center;
	height:400px;
}

.company_small {
  cursor: pointer;
  width: 260px;
  float: left;
  border: solid 1px #c0c0c0;
  padding: 5px;
  margin-right: 10px;
  margin-bottom: 10px;
  text-align: center;	
}

.company_small:hover {
  border: solid 1px blue;
}
.company_full {
  cursor: pointer;
  width: 260px;
  text-align: left;
  border: solid 1px #c0c0c0;
  padding: 5px;
  margin: 0 auto;
}

.add_company {
  display: inline-block;
  text-align:center;
  width: 120px;
}