#wls-header, 
#wls-container {
	margin: 0 auto;
	text-align: center;
}

#wls-header a:link,
            a:visited,
            a:hover,
            a:active {
  color:#1F75FE;
}

#wls-spacer {
  width:100%;
  height:2em;
  margin-top:2em;
}

#wls-title {
  font:16px sans-serif;
  font-weight: bold;
  margin-bottom:1em;
}

.wls-copy {
    margin:0 auto;
    text-align: left;
    border:1px solid gray;
    padding:1em;
    width:50%;
}

#wls-button-panel {
    margin:2em;
    text-align:center;
}

#companies_container {
	margin: 0 auto;
	text-align: center;
	height:400px;
}

.company_small {
  cursor: pointer;
  width: 260px;
  float: left;
  border: solid 1px #c0c0c0;
  padding: 5px;
  margin-right: 10px;
  margin-bottom: 10px;
  text-align: center;	
}

.company_small:hover {
  border: solid 1px blue;
}
.company_full {
  cursor: pointer;
  width: 260px;
  text-align: left;
  border: solid 1px #c0c0c0;
  padding: 5px;
  margin: 0 auto;
}

.add_company {
  display: inline-block;
  text-align:center;
  width: 120px;
}

.wls-chart rect {
  fill: steelblue;
}

.wls-chart text {
  fill: white;
  font:10px sans-serif;
}

.wls-chart2 rect {
  fill: steelblue;
}

.wls-chart2 text {
  fill: white;
  font:10px sans-serif;
}