<div class="add_contact">
    <label for="name">Name:</label> <input type="text" id="name" /><br/>
    <label for="ticker">Ticker:</label> <input type="text" id="ticker" /><br/>
    <label for="year1">Year 1:</label> <input type="number" id="year1" /><br/>
    <label for="year2">Year 2:</label> <input type="number" id="year2" /><br/>
    <label for="year3">Year 3:</label> <input type="number" id="year3" /><br/>
    <label for="year4">Year 4:</label> <input type="number" id="year4" /><br/>
    <label for="year5">Year 5:</label> <input type="number" id="year5" /><br/>
    <br/>
    <a href="#" class="save-button">Save Company</a> | <a href="#"><< Back</a>
</div>
